!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %title= content_for?(:title) ? yield(:title) : "Buglog"
    = favicon_link_tag '/favicon.png'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    = render 'shared/bootstrap_debug'
    = render 'shared/navbar'
    .container.main
      = render 'shared/flash_messages'
      = yield