!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %title= content_for?(:title) ? yield(:title) : "Buglog"
    = favicon_link_tag '/favicon.png'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    = render 'shared/bootstrap_debug'
    = render 'shared/navbar'
    .container.main
      = render 'shared/flash_messages'
      -if content_for?(:left_column)
        .row
          .col-sm-6.col-md-5.col-md-offset-1
            = render 'shared/github_signin_button'
            .well
              = yield :left_column
          .col-sm-6.col-md-5
            .well#app_introduction
              %h2 What is this?
              %p Buglog aims to demystify software bugs.
              %Chocolate gummi bears macaroon sweet gingerbread pudding tart cake tootsie roll. Marshmallow marshmallow caramels ice cream pastry macaroon. Chocolate cake gingerbread chupa chups croissant. Oat cake marzipan tart pastry topping halvah. Carrot cake donut jelly. Oat cake gummies chupa chups carrot cake. Tootsie roll gummi bears muffin tootsie roll.

      = yield
